*.class
build/apk/
build/bundles/
build/classes/
build/dependency-cache/
build/docs/
build/exploded-bundles/
build/incremental/
build/manifests/
build/poms/
build/reports/
build/res/
build/source/
build/symbols/
build/tests/
build/test-results/
build/tmp/
build/ivy.xml
bin/
gen/
libs/
.gradle
res/values/maps_api_key.xml
